@charset "utf-8";
/* CSS Document */
body {
	background:#020202;
}

.welcomepage {
	background-image:url('img/black-coffee-camera-coffee.png');
	width:100vw;
	height:100vw;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:0.3;
	background-repeat:no-repeat;
	background-size:cover;
}

.msgDisplay {
	font-size: 3rem;
	text-align: center;
	color: #fff;
	margin: 0;
}

.message {
	width: 1000px;
	padding-left:30px;
	padding-bottom:165px;
	color: rgba(255,255,255,255);
}

.action{
	position:relative;
}

.topmessage {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,255);
	padding-bottom:5px;
}
.submessage {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:25px;
	color: rgba(255,255,255,255);
	padding-right:250px;

}

div.btnMsg {
	display: flex;
	justify-content: space-between;
}

.button {
	border-radius: 20px;
	background-color: rgba(255,255,255,255);
	border:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#11998E;
	text-align:center;
	font-size:20px;
	padding:15px;
	width: 150px;
	transition:all 0.5s;
	cursor:pointer;
	margin-top:50px;
	margin-right: 3rem;
	font-weight:bold;
}

.inputW {
	border-radius: 20px;
	background-color: rgba(255,255,255,255);
	border:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#11998E;
	text-align:center;
	font-size:20px;
	padding:15px;
	width: 250px;
	margin-top:50px;
	margin-right: 3rem;
	font-weight:bold;
}

.button span {
	cursor:pointer;
	/* display:inline-block; */
	position:relative;
	transition:0.5s;
}
.button span:after{
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:0.5s;
}
.button: hover span {
	padding-right:25px;
}
.button: hover span:after {
	opacity:1;
	right:0;
}

.backHome a {
	text-decoration: none;
	font: 0.8em "Poppins", sans-serif;
	color: white;
	margin-bottom: 0;
	float: left;
	margin-left: 1.5rem;
}

.backHome a:hover {
	color: #38EF7D;
}

img {
	margin-top:-90px;
	float:right;
}
footer {
	margin-top:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fefefe;
  text-align: center;
  font-size:20px;
  line-height: 26px;
  padding: 10px 0;
  }

 footer>a {
  font-size: 15px;
  text-transform: uppercase;
  color:#11998E;
  text-decoration:none;
  background-color:rgba(255,255,255,255);
  border-radius:20px;
  margin:10px;
  padding:10px;
}
